{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des actualités</h1>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actualite in actualites %}
            <tr>
                <td><a href="{{ path('actualite_show', { 'id': actualite.id }) }}">{{ actualite.id }}</a></td>
                <td>{{ actualite.titre }}</td>
                <td>{{ actualite.contenu }}</td>
                <td>{% if actualite.date %}{{ actualite.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ path('actualite_show', { 'id': actualite.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('actualite_edit', { 'id': actualite.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <ul>
        <li>
            <a href="{{ path('actualite_new') }}" class="btn btn-primary">Créer une nouvelle actualité</a>
        </li>
    </ul>
{% endblock %}
