<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link type="image/x-icon" href="iconeNTI.ico" rel="shortcut icon" />

	<title>{% block title %}{% endblock %}</title>
    
    {% block stylesheets %}


		<link rel="stylesheet" href="{{ asset('bootstrap-theme.min.css') }}">
		<link rel="stylesheet" href="{{ asset('modern-business.css') }}">
    	<link href="{{ asset('font-awesome.min.css')}}" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{{ asset('bootstrap-3.3.6.min.css') }}">
		<link rel="stylesheet" href="{{ asset('style.base.css') }}">
		<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.1/foundation.min.css">-->

    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="container">

<header>
	
	<div class="container jumbotron">
		<a href="{{ path('index') }}">
			<img src="{{ asset('logoNTI.png') }}" alt="logo_licence" class="col-md-3"/>
		</a>
		<h2 class="col-md-6">Licence Professionnelle SIL-NTI</h2>
		
		<img src="{{ asset('logoAMU.png') }}" alt="logo_licence" class="col-md-3"/>         
    </div>

    <!-- Menu de navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="menu">
        <div class="container-fluid">
          
            <div class="navbar-header">
					<a class="navbar-brand " href="{{ path('index') }}">Accueil</a>
			</div>
          
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
						{{ render(controller('NtiBundle:VoirPage:menu')) }}
				</ul>
				
				<ul class="nav navbar-nav navbar-right" >
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							<li><a href="#" >{{ app.user.prenom }} {{ app.user.nom }}</a></li>
							{% if is_granted("ROLE_ADMIN") %}

								<li class="dropdown"><a href="{{ path('admin_index') }}" class="dropdown-toggle" data-toggle="dropdown">Administration<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="{{ path('admin_index') }}">Menu Administration</a></li>
										<li><a href="#">Profil</a></li>
										<li><a href="{{ path('fichier_index') }}">Gestion des fichiers</a></li>
										<li><a href="{{ path('admin_page_index') }}">Gestion des pages</a></li>
										<li><a href="#">Notes étudiants</a></li>
									</ul>

								</li>

							{% endif %}
							
							<li><a href="{{ path('fos_user_security_logout') }}" ><span class="glyphicon glyphicon-log-out"></span> Déconnexion</a></li>
						{% else %}
							<li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> Connexion </a></li>
							<li><a href="#"><span class="glyphicon glyphicon-user"></span> INSCRIPTION </a></li>
						{% endif %}
				</ul>
                    
                            
            </div>
        
        </div>
        
    </nav>

</header>
        

        <hr>

{% block body %}{% endblock %}

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
        			<!-- recupere l'année courante -->
                    <p>  SIL - NTI copyright {{ "now"|date('Y') }} </p> 
                </div>
            </div>
        </footer>

    {% block javascripts %}
			<script src="{{ asset('jquery-1.12.2.min.js') }}"></script>
			<script src="{{ asset('bootstrap-3.3.6.min.js') }}"></script>
			<script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
			<script src="{{ asset('dropdown.js') }}"></script>  
			<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	{% endblock %}
    

</body>

</html>
