{% extends "base.html.twig"  %}

{% block body %}
    <div id="actualite" >
        <h2>Dernière nouvelle</h2>
        <h3>{{ actu.titre }}</h3>
        <div>le {{ actu.date|date('d/m/Y à H:i') }} par {{ actu.prenom }} {{ actu.nom }}</div>
        {{ actu.contenu }}
    </div>
    <div id="presentation">
    <h2>Presentation </h2>
    <p>
    La licence professionnelle SIL-NTI de l'AMU forme des professionnels en informatique de haut niveau autour de 3 domaines et de leurs interactions :
<ul>
<li>La programmation orientée objet avec Java</li>
<li>Les systèmes d'information et les bases de données</li>
<li>Les technologies de l'Internet (xhtml, xml, javascript, php et mysql)</li>
</ul>
Cette licence professionnelle vise les professions se situant dans les domaines du développement d'applications objets, de la conception/maintenance de bases de données et de site internet. Une orientation vers la maintenance système/réseau est éventuellement envisageable.

La licence professionnelle recrute à partir du niveau BAC+2 (BTS, DUT, niveau L2 universitaire, ou tout diplôme français ou européen de niveau équivalent).
    </p>
{% endblock %}