{% extends "base.html.twig"  %}

{% block body %}
    <div id="actualite" >
        <h2>Dernière nouvelle</h2>
        <h3>{{ actu.titre }}</h3>
        <div>le {{ actu.date|date('d/m/Y à H:i') }} par {{ actu.user.prenom }} {{ actu.user.nom }}</div>
        {{ actu.contenu }}
    </div>
{% endblock %}