{% extends 'base.html.twig' %}

{% block body %}
    <h1>Note creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        {% block form_widget_simple -%}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
    {% endif %}
    {{- parent() -}}
{%- endblock form_widget_simple %}

        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('note_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
